[Unit]
Description=LVA OS Supervisor
Requires=docker.service rauc.service dbus.socket
Wants=network-online.target lva-os-apparmor.service time-sync.target systemd-journal-gatewayd.socket
After=docker.service containerd.service rauc.service dbus.socket network-online.target lva-os-apparmor.service time-sync.target systemd-journal-gatewayd.socket
RequiresMountsFor=/mnt/data /mnt/boot /mnt/overlay
StartLimitIntervalSec=30m
StartLimitBurst=3
ConditionPathExists=/run/dbus/system_bus_socket
# ConditionPathExists=/run/docker.sock

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker stop lva-supervisor
ExecStart=/usr/sbin/lva-os-supervisor
ExecStop=-/usr/bin/docker stop -t 420 lva-supervisor
TimeoutStopSec=450s

[Install]
WantedBy=multi-user.target