[Unit]
Description=lva-os persists data on bootstate
After=sysinit.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/lvaos-persists
RemainAfterExit=true

[Install]
WantedBy=multi-user.target